<div id="container">
  <div id="header">
    <h1>{{title }}</h1>
  </div>

  <div id="leftColumn">
    <p>Welcome to {{title }}</p>
  </div>

  <div id="rightColumn">
    <p>Hi</p>
    <ul id="taskList">
    </ul>
    <form id="taskForm" onsubmit="">
      <input type="text" id="taskDescription">
      <input type="submit" id="submit" value="Add" onclick="return false;">
    </form>
  </div>
</div>
