<div id="container">
  <div id="header">
    <h1>{{title }}</h1>
  </div>

  <div id="leftColumn">
    <p>Welcome to {{title }}</p>
  </div>

  <div id="rightColumn">
    <p>Hi</p>
    <ul id="taskList">
    </ul>
    <form id="taskForm" onsubmit="return false;">
      <input type="text"
             id="taskDescription"
             title="One character minimum">
      <input type="submit"
             id="addTask"
             value="Add">
    </form>
  </div>
</div>
